<template>
  <ul class="list-group">
    <li class="list-group-item font-weight-bold">
      <div class="row">
        <div class="col-sm-3">Auction ID</div>
        <div class="col-sm-3">Lot</div>
        <div class="col-sm-3">Start price</div>
      </div>
    </li>
    <li v-for="auction in auctions" class="list-group-item" :key="auction.id">
      <div class="row">
        <div class="col-sm-3">
          <code>
            <router-link :to="{ name: 'auction', params: { id: auction.id } }" class="break-word">{{ auction.id }}</router-link>
          </code>
        </div>
        <div class="col-sm-3">
          <code>
            <router-link :to="{ name: 'lot', params: { id: auction.auction_info.lot_id } }" class="break-word">{{ auction.auction_info.lot_id }}</router-link>
          </code>
        </div>
        <div class="col-sm-3">{{ auction.auction_info.start_price }}</div>
      </div>
    </li>
  </ul>
</template>

<script>
  module.exports = {
    components: {},
    name: 'auction-list',
    props: ['auctions']
  }
</script>